@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* this fixes the error in the animation that was displaying the scrollbar */
/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
}

@keyframes cube {
  0% {
    transform: scaleY(1) translateY(-26px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
  50% {
    transform: scaleY(0.6) translateY(0px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
  100% {
    transform: scaleY(1) translateY(-26px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(-80px);
  }
}

@keyframes miniSlideDown {
  0% {
    opacity: 0;
    max-height: 0px;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 300px;
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #af68e9 0%, #6663e7 100%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  max-width: 57.5rem;
  border-radius: 1.4375rem;
  margin: 1.25rem;
  background-color: white;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-position: left -37.5rem top -14.375rem;
  background-repeat: no-repeat;
  box-shadow: 0rem 3.125rem 3.125rem -1.25rem rgba(53, 18, 122, 0.497159);
  position: relative;
  animation: slideDown ease 1s;
  animation-delay: 0.2s;
}

@media (max-width: 840px) {
  main {
    flex-direction: column;
    background-image: none;
    gap: 0;
  }
}

main::after {
  content: url(/images/illustration-box-desktop.svg);
  position: absolute;
  left: -2.6875rem;
  top: 50%;
  cursor: url("/images/custom-cursor.svg"), auto;
  animation: cube 5s infinite;
}

@media (max-width: 840px) {
  main::after {
    display: none;
  }
}

picture {
  overflow: hidden;
}

@media (max-width: 840px) {
  picture {
    overflow: unset;
  }
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  animation: slideRight ease 1.5s;
  animation-delay: 0.5s;
  transform: translateX(-5rem);
}

@media (max-width: 840px) {
  img {
    transform: translateX(0rem);
    max-width: 15.625rem;
    object-fit: cover;
  }
}

article {
  max-width: 25.625rem;
  padding-block: 3.75rem;
  padding-inline: 0 3.75rem;
}

@media (max-width: 840px) {
  article {
    display: flex;
    padding-block: 1.5rem 2.25rem;
    padding-inline: 2.5rem;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 1.875rem;
}

dt {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  color: #4a4b5e;
  margin-block: 0.75rem;
  padding-right: 3.75rem;
  position: relative;
  justify-content: space-between;
}

dt::after {
  content: url(/images/icon-arrow-down.svg);
  right: 0;
  top: 0;
  position: absolute;
  transition: ease-in 0.5s;
}

dt:hover {
  color: #f47c57;
}

dt.active {
  font-weight: 700;
  color: #f47c57;
}

dt.active::after {
  transform: rotate(180deg);
  transition: ease-out 0.5s;
}

dd {
  display: none;
  max-width: 18.75rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #787887;
  padding-bottom: 1rem;
}

.line {
  display: block;
  height: 0.0625rem;
  background-color: #d9d9db;
}

dd.active {
  display: flex;
  animation: miniSlideDown 0.5s ease;
}

dd.active::after {
  transform: rotate(180deg);
}

.will-smith {
  cursor: url("/images/custom-cursor.svg"), auto;
}
