@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  list-style-type: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* this fixes the error in the animation that was displaying the scrollbar */
/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
}

@keyframes cube {
  0% {
    transform: scaleY(1) translateY(-26px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
  50% {
    transform: scaleY(0.6) translateY(0px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
  100% {
    transform: scaleY(1) translateY(-26px);
    filter: drop-shadow(0 15px 15px rgba(0, 0, 0, 0.3));
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(180deg, #af68e9 0%, #6663e7 100%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 920px;
  border-radius: 23px;
  margin: 20px;
  background-color: white;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-position: left -600px top -230px;
  background-repeat: no-repeat;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  position: relative;
}

@media (max-width: 840px) {
  main {
    flex-direction: column;
    background-image: none;
    gap: 0;
  }
}

main::after {
  content: url(/images/illustration-box-desktop.svg);
  position: absolute;
  left: -43px;
  top: 50%;
  cursor: url("/images/custom-cursor.svg"), auto;
  animation: cube 5s infinite;
}

@media (max-width: 840px) {
  main::after {
    display: none;
  }
}

picture {
  overflow: hidden;
}

@media (max-width: 840px) {
  picture {
    overflow: unset;
  }
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  transform: translateX(-80px);
}

@media (max-width: 840px) {
  img {
    transform: translateX(0px);
    max-width: 250px;
    object-fit: cover;
  }
}

article {
  max-width: 410px;
  padding-block: 60px;
  padding-inline: 0 60px;
}

@media (max-width: 840px) {
  article {
    display: flex;
    padding-block: 24px 36px;
    padding-inline: 40px;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 30px;
}

dt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #4a4b5e;
  margin-block: 12px;
  padding-right: 60px;
  position: relative;
  justify-content: space-between;
}

dt::after {
  content: url(/images/icon-arrow-down.svg);
  right: 0;
  top: 0;
  position: absolute;
}

dt::after:hover {
  transform: rotate(180deg);
  transition: ease 0.3s;
}

dt:hover {
  color: #f47c57;
}

dt.active {
  font-weight: 700;
  color: #f47c57;
}

dd {
  display: none;
  max-width: 300px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #787887;
  padding-bottom: 16px;
}

span {
  display: block;
  height: 1px;
  background-color: #d9d9db;
}

dd.active {
  display: flex;
  animation: slideDown 0.5s ease;
}

dd.active::after {
  transform: rotate(180deg);
}

@keyframes slideDown {
  0% {
    opacity: 0;
    max-height: 0px;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 300px;
  }
}

.will-smith {
  cursor: url("/images/custom-cursor.svg"), auto;
}
