@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;700&display=swap");

@import "reset";
@import "mediaQueries";
@import "mixins";
@import "animations";

// colors
$gradient: linear-gradient(180deg, #af68e9 0%, #6663e7 100%);
$black: hsla(238, 29%, 17%, 1);
$light-gray: hsla(240, 6%, 50%, 1);
$dark-gray: hsla(237, 12%, 33%, 1);
$white: hsl(0, 0%, 100%);
$hover: hsla(14, 88%, 65%, 1);

body {
  @include flex(center, center);
  font-family: "Kumbh Sans", sans-serif;
  background: $gradient;
}

main {
  @include flex(center, center);
  gap: 30px;
  max-width: 920px;
  border-radius: 23px;
  margin: 20px;
  background-color: $white;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-position: left -600px top -230px;
  background-repeat: no-repeat;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  position: relative;
  &::after {
    content: url(/images/illustration-box-desktop.svg);
    position: absolute;
    left: -43px;
    top: 320px;
    animation: cube 5s infinite;
  }
}

picture {
  overflow: hidden;
}

img {
  @include flex(center, center);
  max-width: 100%;
  object-fit: cover;
  transform: translateX(-80px);
}

article {
  max-width: 350px;
  padding-block: 65px;
  padding-inline: 0 75px;
}

dt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $dark-gray;
  margin-block: 12px;
}

dd {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: $light-gray;
  padding-bottom: 16px;
}

span {
  display: block;
  height: 1px;
  background-color: #d9d9db;
}
