@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;700&display=swap");

@import "reset";
@import "mediaQueries";
@import "mixins";
@import "animations";

// colors
$gradient: linear-gradient(180deg, #af68e9 0%, #6663e7 100%);
$black: hsla(238, 29%, 17%, 1);
$light-gray: hsla(240, 6%, 50%, 1);
$dark-gray: hsla(237, 12%, 33%, 1);
$white: hsl(0, 0%, 100%);
$hover: hsla(14, 88%, 65%, 1);

body {
  @include flex(center, center);
  font-family: "Kumbh Sans", sans-serif;
  background: $gradient;
}

main {
  @include flex(center, center);
  gap: 30px;
  max-width: 920px;
  border-radius: 23px;
  margin: 20px;
  background-color: $white;
  background-image: url(/images/bg-pattern-desktop.svg);
  background-position: left -600px top -230px;
  background-repeat: no-repeat;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  position: relative;

  @include display(tablet) {
    flex-direction: column;
    background-image: none;
    gap: 0;
  }

  &::after {
    content: url(/images/illustration-box-desktop.svg);
    position: absolute;
    left: -43px;
    top: 50%;
    cursor: url("/images/custom-cursor.svg"), auto;
    animation: cube 5s infinite;

    @include display(tablet) {
      display: none;
    }
  }
}

picture {
  overflow: hidden;
  @include display(tablet) {
    overflow: unset;
  }
}

img {
  @include flex(center, center);
  max-width: 100%;
  transform: translateX(-80px);

  @include display(tablet) {
    transform: translateX(0px);
    max-width: 250px;
    object-fit: cover;
  }
}

article {
  max-width: 410px;
  padding-block: 60px;
  padding-inline: 0 60px;
  @include display(tablet) {
    display: flex;
    padding-block: 24px 36px;
    padding-inline: 40px;
    flex-direction: column;
    align-items: center;
  }
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 30px;
}

dt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: $dark-gray;
  margin-block: 12px;
  padding-right: 60px;
  position: relative;
  justify-content: space-between;
  &::after {
    content: url(/images/icon-arrow-down.svg);
    right: 0;
    top: 0;
    position: absolute;
    &:hover {
      transform: rotate(180deg);
      transition: ease 0.3s;
    }
  }
  &:hover {
    color: $hover;
  }
}

dt.active {
  font-weight: 700;
  color: $hover;
}

dd {
  display: none;
  max-width: 300px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: $light-gray;
  padding-bottom: 16px;
}

span {
  display: block;
  height: 1px;
  background-color: #d9d9db;
}

dd.active {
  display: flex;
  animation: slideDown 0.5s ease;
  &::after {
    transform: rotate(180deg);
  }
}

.active {
}

@keyframes slideDown {
  0% {
    opacity: 0;
    max-height: 0px;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
    max-height: 300px;
  }
}

.will-smith {
  cursor: url("/images/custom-cursor.svg"), auto;
}
